/*
 * https://etecdados.github.io
 * etecdados v1.0.0
 * copyright 2019 by etecdados
 * created on 2013/06/24 12:10
 * author fernando silva
 * last update on 2019/09/26
 */

@charset "utf-8";
/* projects ------------------------------------------------- */
#button_project2 {
    background-image: url(../images/site.png);
}

#button_project3 {
    background-image: url(../images/pate.png);
}

#button_project4 {
    background-image: url(../images/sjpiaui.png);
}

#button_project5 {
    background-image: url(../images/sfernando.png);
}

#button_project6 {
    background-image: url(../images/equatorial.png);
}

#button_project7 {
    background-image: url(../images/msg.png);
}
