/*
 * https://etecdados.github.io
 * etecdados v1.0.0
 * copyright 2019 by etecdados
 * created on 2013/06/24 12:10
 * author fernando silva
 * last update on 2019/07/25
 */

@charset "utf-8";

/* login ---------------------------------------------------- */
#button_brazil {
    background-image: url(../images/flag_brazil.png);
}

#button_spain {
    background-image: url(../images/flag_spain.png);
}

#button_uk {
    background-image: url(../images/flag_uk.png);
}

.button_language {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 34px;
    border: none;
    cursor: pointer;
    height: 34px;
    width: 34px;
}

/* projects ------------------------------------------------- */
.button_projects {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
    height: 120px;
    width: 280px;
}

.button_projects:hover {
    box-shadow: 5px 5px 13px rgba(89, 89, 89, 0.8);
    transition: 0.3s;
}

/* nav ------------------------------------------------------ */
#img_nav {
    height: 21px;
}

/* logout --------------------------------------------------- */
.button_logout {
    width: 89px;
}